.intro-picture {
   float: right;
   margin-left: 20px;
   margin-bottom: 20px; 
   max-width: 30%; 
   height: 100%;
  }

.intro-text {
   margin: 0px; 
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#p5CanvasContainer {
  position: relative;
  width: 400px; /* Example width */
  height: 400px; /* Example height */
  margin: 20px auto; /* Center the container */
  border: 1px solid black;
}
